---
- name: "Portainer | Wait for API"
  uri:
    url: "{{ portainer_api_base }}/status"
    method: GET
    validate_certs: "{{ portainer_validate_certs }}"
    return_content: yes
  register: portainer_status
  retries: 20
  delay: 6
  until: portainer_status.status in [200, 204]

- name: "Portainer | Authenticate (JWT)"
  uri:
    url: "{{ portainer_api_base }}/auth"
    method: POST
    validate_certs: "{{ portainer_validate_certs }}"
    body_format: json
    body:
      Username: "{{ portainer_admin_username }}"
      Password: "{{ portainer_admin_password }}"
    status_code: [200, 204]
    return_content: yes
  register: portainer_auth

- name: "Portainer | Save JWT"
  set_fact:
    portainer_jwt: "{{ (portainer_auth.json.jwt | default('')) or (portainer_auth.json.data.jwt | default('')) }}"

- name: "Portainer | Build LDAP settings payload (StartTLS)"
  set_fact:
    portainer_settings_payload:
      AuthenticationMethod: 2
      LDAPSettings:
        AnonymousMode: "{{ ldap_anonymous }}"
        ReaderDN: "{{ ldap_reader_dn }}"
        Password: "{{ ldap_reader_password }}"
        URL: "{{ ldap_url }}"
        TLSConfig:
          TLS: false
          TLSSkipVerify: true
        StartTLS: "{{ ldap_starttls }}"
        SearchSettings:
          - BaseDN: "{{ ldap_user_base_dn }}"
            Filter: "{{ ldap_user_filter }}"
            UserNameAttribute: "{{ ldap_username_attribute }}"
        GroupSearchSettings:
          - GroupBaseDN: "{{ ldap_group_base_dn }}"
            GroupFilter: "{{ ldap_group_filter }}"
            GroupAttribute: "{{ ldap_group_member_attribute }}"
        AutoCreateUsers: "{{ ldap_autocreate_users }}"

- name: "Portainer | Enable LDAP auth"
  uri:
    url: "{{ portainer_api_base }}/settings"
    method: PUT
    validate_certs: "{{ portainer_validate_certs }}"
    headers:
      Authorization: "Bearer {{ portainer_jwt }}"
    body_format: json
    body: "{{ portainer_settings_payload }}"
    status_code: [200]
    return_content: yes
  register: portainer_settings_resp

- name: "Portainer | Get existing teams"
  uri:
    url: "{{ portainer_api_base }}/teams"
    method: GET
    validate_certs: "{{ portainer_validate_certs }}"
    headers:
      Authorization: "Bearer {{ portainer_jwt }}"
    status_code: [200]
    return_content: yes
  register: portainer_teams

- name: "Portainer | Build map of existing teams by name"
  set_fact:
    portainer_team_map: "{{ dict((portainer_teams.json | map(attribute='Name') | list) | zip(portainer_teams.json)) }}"

- name: "Portainer | Ensure teams exist and map LDAPGroupDN"
  vars:
    current: "{{ portainer_team_map.get(item.name) }}"
  block:
    - name: "Create team if missing"
      uri:
        url: "{{ portainer_api_base }}/teams"
        method: POST
        validate_certs: "{{ portainer_validate_certs }}"
        headers:
          Authorization: "Bearer {{ portainer_jwt }}"
        body_format: json
        body:
          Name: "{{ item.name }}"
          LDAPGroupDN: "{{ item.ldap_group_dn }}"
        status_code: [200, 201]
        return_content: yes
      when: current is not defined

    - name: "Update team LDAPGroupDN if different"
      uri:
        url: "{{ portainer_api_base }}/teams/{{ current.Id }}"
        method: PUT
        validate_certs: "{{ portainer_validate_certs }}"
        headers:
          Authorization: "Bearer {{ portainer_jwt }}"
        body_format: json
        body:
          Name: "{{ item.name }}"
          LDAPGroupDN: "{{ item.ldap_group_dn }}"
        status_code: [200]
        return_content: yes
      when: current is defined and (current.LDAPGroupDN | default('')) != item.ldap_group_dn
  loop: "{{ portainer_team_mappings | default([]) }}"
